<!DOCTYPE html>
<html>
  <head>
    <title>Alarm</title>
    <style>
      h1 {
        color: #8b0000;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        border: 1px solid #414e97;
        padding: 4px;
        text-align: left;
      }
      
      th {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <h1>Alarm</h1>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for time, message in messages %}
        <tr>
          <td>{{ time }}</td>
          <td>{{ message }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
